.container{
    display: flex;
}
.instagram{
    position: relative ;
}
.overlay{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .3s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay i{
    opacity: 0;
    transition: .2s ease-in;
    transform: rotate(60deg);
}
.instagram:hover .overlay{
    background-color: rgba(0, 0, 0, 0.4);
}
.instagram:hover .overlay i{
    opacity: 1;
    transform: rotate(0deg);
}